
root { 
    display: block;
}
body {
    margin:0px;
    padding:0px;
}
button {
    background: #c8e5ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #c8e5ff 0%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8e5ff), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c8e5ff 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c8e5ff 0%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c8e5ff 0%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c8e5ff 0%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8e5ff', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    border:1px solid rgb(220,242,255);
    padding:7px 14px 7px 14px;
    border-radius:3px;
    cursor:pointer;
    box-shadow:0px 3px 5px rgba(0,0,0,.3);
}
button:hover {
/*    background:rgb(220,242,255);*/
}
button:active {
    box-shadow:inset 0px 1px 3px rgba(0,0,0,.2);
}
#container {
    width:70%;
    margin:30px auto 0 auto;
    padding:50px 60px 50px 60px;
    position:relative;
    box-shadow:0 4px 10px rgba(0,0,0,.2);
}
#save-survey {
    position:absolute;
    bottom:5px;
    right:5px;
}
#title-box {
    font-size:16px;
    margin-bottom:5px;
}
    #survey-title {
        font-size:20px;
        width:100%;
        margin:5px 0 0 0;
        padding:10px 5px 6px 5px;
    }
#add-question {
    cursor:pointer;
    width:140px;
    margin:15px auto 0 auto;
    display:block;
    opacity:0;
}
.question {
    border:1px solid #CCC;
    padding:5px;
    margin-top:60px;
    text-align:left;
    position:relative;
    border-radius:3px;
    cursor:pointer;
}
.q-build-box {
    margin:10px;
}
.cancel-question, .save-question, .edit-question {
    cursor:pointer;
    float:right;
    margin-left:5px;
}
.save-question {
    display:none;
}
.q-edit-box {
    height:auto;
    width:140px;
    position:absolute;
    bottom:-20px;
    right:0px;
}
.q-action-box {
    margin:10px 0 0 3px;
    display:none;
}
    .q-title-line {
       font-size:18px;
    }
    .q-text {
        font-size:18px;
        width:75%;
        padding:4px 8px 4px 8px;
    }
    .q-type {
        float:right;
    }
    .q-action {
        display:none;
        overflow:hidden;
    }
    .field-row {
        margin-top:1px;
    }
    .answer-field {
        margin:0 5px 0 5px;
        width:250px;
        font-size:14px;
    }
    .q-meta-box {
        position:absolute;
        width:144px;
        height:75px;
        padding:3px;
        top:-10px;
        right:5px;
        border:1px solid #CCC;
        border-radius:3px;
        background:rgb(153, 153, 153);
        text-align:center;
    }
        .b-index {
            float:left;
            display:block;
            margin:5px;
        }
        .view-model {
            float:right;
        }
    .action-shortanswer-text {
        width:80%;
        margin-left:0;
        padding:10px;
        color:#999 !important;
    }
    
    
    
    
    
    
    
    
.q-render-box {
    display:none;
    overflow:hidden;
}

.s-q-title {
    font-size:18px;
    margin:10px;
    border-bottom:1px solid #CCC;
    padding-bottom:5px;
}
.s-q-form {
    margin:0 10px 10px 10px;
}
.s-q-form-el {
    padding:2px 0 2px 0;
    font-size:14px;
}
.s-q-shortanswer-text {
    width:100%;
    margin-left:-1px;
    padding:10px;
}
    
    
    
::-webkit-input-placeholder {
    color:rgb(137, 175, 223);
}
:-moz-placeholder { /* Firefox 18- */
   color:rgb(137, 175, 223);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color:rgb(137, 175, 223);  
}

:-ms-input-placeholder {  
   color:rgb(137, 175, 223);  
}