root { 
    display: block;
}
body {
    margin:0px;
    padding:0px;
}
#container {
    width:500px;
    margin:30px auto 0 auto;
    padding:2px;
}
.s-question {
    border:1px solid #CCC;
    padding:5px;
    margin-bottom:15px;
}
