<div id="<%- divID %>" class="question q-<%- type %>">
    <div class="q-build-box">
        <div class="q-meta-box">
            <div class="q-meta-box-title">Actions</div>
            <select class="q-type">
                <option value="blank">- question type -</option>
                <option value="radio" <% print((type=='radio')?'selected':'') %>>radio</option>
                <option value="checkbox" <% print((type=='checkbox')?'selected':'') %>>checkbox</option>
                <option value="shortanswer" <% print((type=='shortanswer')?'selected':'') %>>short answer</option>
            </select>
            <button class="cancel-question" type="button">Delete</button>
            <button class="view-model" type="button">Model</button>
            <button class="save-question" type="button">Save</button>
        </div>
        <div class="q-title-line">
            <span class="q-index"></span>: <input class="q-text" type="text" placeholder="- question text -" value="<% print((question)?question:'') %>" />
        </div>
        <div class="q-answer-box">
        </div>
    </div>
    <div class="q-render-box">
        <div class="q-edit-box">
<!--            <button class="cancel-question">Delete</button>-->
        </div>
        <div class="q-render">
        </div>
    </div>
</div>

