<div id="<%- divID %>" class="question q-<%- type %>">
    <input class="q-text" type="text" placeholder=" Question text" />
    <select class="q-type">
        <option value="null">- unset -</option>
        <option value="radio">radio</option>
        <option value="checkbox">checkbox</option>
        <option value="shortanswer">short answer</option>
    </select>
    <button class="cancel-question" type="button">x</button>
    <button class="save-question" type="button">Save</button>
    <button class="view-model" type="button">Model</button>
    <div class="q-action-box">
        <div class="action-shortanswer q-action">
            <div class="action-shortanswer-tmplt">
                <input type="text" size="60" value="Short Answer Response" disabled />
            </div>
        </div>
        <div class="action-checkbox q-action">
            <div class="action-checkbox-tmplt">
                <input type="checkbox" disabled><input class="action-checkbox-text" type="text" placeholder=" Possible response" /><button class="q-action-add-checkbox" type="button">+</button>
            </div>
        </div>
        <div class="action-radio q-action">
            <div class="action-radio-tmplt">
                <input type="radio" disabled><input class="action-radio-text" type="text" placeholder=" Possible response" /><button class="q-action-add-radio" type="button">+</button>
            </div>
        </div>
    </div>
</div>

