<tr class="alternate" id="<%- sid %>">
        <th scope="row" class="check-column"><input name="post[]" value="4" type="checkbox"></th>
    <td class="title column-title"><strong><a class="row-title" href="#" title="Edit “Survey 3”"><%- title %></a></strong> <div class="row-actions"><span class="edit"><a href="#">Edit</a> | </span><span class="copy"><a href="#">Copy</a> | </span><span class="publish"><a href="#">Publish</a></span></div></td>
    <td class="opened column-opened"><abbr title="2013/03/26 2:11:05 PM">date_opened</abbr></td>
    <td class="closed column-closed"><input name="stb-close-survey" id="stb-close-survey-3" class="button" value="Close" type="submit"></td>
    <td class="author column-author">placeholder</td>
    <td class="author column-results">icon | icon 37</td>
    <td class="author column-status">status</td>
</tr>